# ignore Ansible-Directory-Snapshot.zip
**/Ansible-Directory-Snapshot.zip

# ignore Changes.txt
**/Changes.txt

# ignore .vagrant folder
**/.vagrant/

# ignore *.retry, *.data, testkey* files
*.retry
*.data
testkey*
